body {
    margin: 30;
    padding: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.LOG-IN-FORM {
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: #fff;
    padding: 10px;
    margin: 5% auto 0;
    text-align: center;
}

.LOG-IN-FORM h1 {
    color: #1c8adb;
    font-size: 22;
    margin-bottom: 5px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 2px soliD black;
    outline: none;
}

button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.login-btn {
    background-color: #1c8adb;
    margin: -10px 0;
}

.login-btn-g {
    background-color: brown;
    margin: -10px 0;
}

a {
    text-decoration: none;
}

.or {
    background: #fff;
    margin-top: 5%;
}

img {
    width: 70px;
    margin-top: -50px;
}