body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(wallpaper.jpg);
    background-size: cover;
}

h2 {
    text-align: center;
    font-size: 1.9cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: tomato;
    padding: 10px;
    color: white;
}

img {
    width: 99;
}

.img1 {
    position: absolute;
    width: 99;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: -265px;
    display: flex;
}

.social-menu ul {
    position: absolute;
    top: 53%;
    left: 107%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: -265px;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

.FeedBack-form {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: #add8e6;
    padding: 10px;
    margin: 6% auto 0;
    text-align: center;
}

.FeedBack-form h1 {
    font-size: 22px;
    color: black;
    margin-bottom: -2px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto 0;
    width: 100%;
    border: 2px soliD black;
    outline: none;
}

.feed {
    box-sizing: content-box;
    border-radius: 20px;
    padding: 10px;
    margin: -2px auto 0;
    width: 90%;
    outline: none;
}

.feed h1 {
    font-size: 15px;
}

button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.button {
    background-color: #1c8adb;
    margin: 15px 0;
}

img {
    width: 130px;
    margin-top: -70px;
}